#title {
    border: black;
    color: azure;
    width: 100%;
    height: 100px;
    text-align: left;
}

p,
body {
    font-family: 'Open Sans', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    background-color: black;
    color: azure;
}

h1,
h2 {
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    margin-top: 20px;
    padding: auto;
    font-size: 16pt;
    height: 200;
    color: azure;
}

#panel {
    width: 100%;
    margin-left: 8px;
    margin-right: 8px;
    background-color: slategrey;
    border: 2px;
    border-color: black;
}

.col1 {
    width: 100%;
    height: 200px;
}

img {
    height: 200px;
    border-style: none;
    z-index: 0;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

footer {
    object-position: bottom;
}

.crystalRow {
    background-color: purple;
}

#targetnumber {}

p {
    font-family: 'Open Sans', sans-serif;
}